---
layout: default
title: Issues - Cyndi Powell Skellie For State Representative
---

<div id="issues-hero-image">
  <div id="hero-text">Your Voice for Shelby County</div>
</div>
{% include socialmedia.html %}
<div id="issues-container"> 
  <div class="issue-area">
    <div class="issue-card-header">Your Voice for Advocating for our Children</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Stand up for &amp; fully fund public education at all levels</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Replace Common Core with standards designed by Kentucky Teachers</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Bring Civics &amp; Kentucky History back into state cirriculum</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Cap tuition increases &amp; expand student loan forgiveness programs</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Prevent Lottery education funds from being robbed by the legislature</div>
  </div>
  <div class="issue-area">
    <div class="issue-card-header">Your Voice for Strengthening our Communities</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Combat the drug epidemic with treatment, education, &amp; community awareness</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Expand rural high speed internet access</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Invest in infrastructure improvements statewide</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Implement comprehensive tax reform to modernize the tax code, create a sustainable budget, &amp; make Kentucky more economically competitive</div>
  </div>
  <div class="issue-area">
    <div class="issue-card-header">Your Voice for Keeping our Promise to our Public Servants and Citizens</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Shore up public employee pensions without cutting benefits or privatizing</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Support an outside, independent audit of all public pension systems</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Raise pay for law enforcement officers &amp; public defenders</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Modernize &amp; reform our criminal justice system</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Protect Kynect &amp; the Medicaid expansion to keep healthcare affordable</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Expand voter access so Independents can vote in primaries</div>
  </div>
  <div class="issue-area">
    <div class="issue-card-header">Your Voice for supporting the Nobility of Work</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Protect our horse industry, small farms, &amp; small businesses</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Support providing greater access to capital for young farmers</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Protect Kentucky from legislation that hurts its hard working citizens</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Fight for the collective bargaining rights of working people</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Protect prevailing wage laws</div>
    <div class="issue-card"><i class="fa fa-check" aria-hidden="true"></i>
 Raise the minimum wage in Kentucky</div>
  </div>
</div>
{% include cta.html %}
