<footer>
	<div class="container">
		<a href="index.html"><img src="/assets/img/skellielogodark2.png" id="footer-logo"></a>
		<br>
		<div class="footer-links">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="/meetcyndi.html">Meet Cyndi</a></li>
				<li><a href="/issues.html">Issues</a></li>
				<li><a href="/volunteer.html">Get Involved</a></li>
				<li><a href="https://secure.actblue.com/contribute/page/cyndi-powell-skellie-for-kentucky-state-representatives-1">Contribute</a></li>
			</ul>
		</div>
		<div class="footer-contacts">
			301 Comanche Road, Shelbyville, KY 40065
		</div>
		<div id="paidfor">Paid for by Cyndi Skellie for KY&nbsp;State&nbsp;Rep <br>Candi Waford, Treasurer</div>
	</div>
</footer>
