<div class="socialmedia">
  <div class="socialmedia-container">
    <div class="socialmedia-link facebook">
      <a href="https://www.facebook.com/skellieforky"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="socialmedia-link twitter">
      <a href="https://twitter.com/skellie4ky"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="socialmedia-link instagram">
      <a href="https://www.instagram.com/cyndiskellieky/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
